<div id="sidebar-placeholder">
    <aside class="sidebar">
        <img src="assets/images/profile_picture.jpg" alt="Andrea" class="profile-img">
        <h2>Andrea(Hung Yun) Tseng</h2>
        <p>Undergraduate Student at University of Wisconsin Madison</p>
        <ul>
            <li><a href="mailto:htseng23@wisc.edu"><i class="fas fa-envelope"></i> Email</a></li>
            <li><a href="https://github.com/AndreaTseng"><i class="fab fa-github"></i> Github</a></li>
            <li><a href="https://www.linkedin.com/in/hung-yun-tseng/"><i class="fab fa-linkedin"></i> LinkedIn</a></li>
    
        </ul>
    </aside>
</div>
